<html>

<head>
    <title>
     Test
    </title>
    <!-- <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css"> -->

    <!-- <%- style %> -->
</head>

<body>
        <main id='layout-main'>
            <%- body %>
        </main>

</body>
<%- script %>

</html>